@page "/"
@model CandidateManagement_NgoGiaHuy.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="flex-grow-1 pt-5">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <form method="post">
        <div class="d-flex flex-column gap-2 align-items-center">
            <div class="">
                <label for="txtEmail">Email:</label>
                <input 
                    name="txtEmail" 
                    class="form-control" 
                    placeholder="Email" 
                    value="admin@hr.com.vn"/>
            </div>
            <div class="">
                <label for="txtPassword">Password:  </label>
                <input 
                    name="txtPassword" 
                    class="form-control" 
                    type="password" 
                    placeholder="Password" 
                    value="123@@"/>
            </div>

            <div class="d-flex justify-content-end gap-2">
                <button type="submit" class="btn btn-primary" name="btnLogin">Login</button>
                <button type="reset" class="btn btn-outline-dark">Cancel</button>
            </div>
        </div>
    </form>
</div>
@*
<div>
    <a asp-page="Register">Register as a new user</a>
</div>
*@
